<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BanqueServiceServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/BanqueWeb/BanqueService"
                binding="basicHttpBinding" bindingConfiguration="BanqueServiceServiceSoapBinding"
                contract="ServiceReference1.BanqueService" name="BanqueServicePort" />
        </client>
    </system.serviceModel>
</configuration>